@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Roboto:wght@300;400;700;900&display=swap");
.grid-container {
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

@media (min-width: 576px) {
  .grid-container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .grid-container-sm, .grid-container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .grid-container-md, .grid-container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .grid-container-lg, .grid-container-xl {
    max-width: 1140px;
  }
}

.bg-color1 {
  background: #D44F27;
}

.bg-color2 {
  background: #D44F27;
}

.bg-black {
  background: #000000;
}

.bg-white {
  background: #ffffff;
}

.bg-gray {
  background: #d6d7da;
}

.bg-gray-light {
  background: #f2f2f2;
}

.text-color1 {
  color: #D44F27;
}

.text-color2 {
  color: #D44F27;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #d6d7da;
}

.text-gray-light {
  color: #f2f2f2;
}

.list ul {
  padding: 0;
}

.list ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.list ul li i {
  margin-right: 15px;
}

.list.small li {
  font-size: 14px;
}

.visitor-box {
  width: 250px;
  border-radius: 15px;
  padding: 10px 15px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.visitor-box .visitor-head {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1rem;
}

.visitor-box .visitor-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitor-box .visitor-number span {
  background: #942a1a;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 4px 8px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  margin: 10px 2px 0px 2px;
}

.counter-row {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 576px) {
  .counter-row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .counter-row {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.counter-row.counter-row-2 {
  gap: 50px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .counter-row.counter-row-2 {
    gap: 20px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .counter-row.counter-row-2 {
    padding: 50px 0;
  }
}

.counter-row.counter-row-2 ._card {
  background: transparent;
  border-radius: 0;
  text-align: center;
}

.counter-row.counter-row-2 ._card::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background: #D44F27;
}

@media (min-width: 768px) {
  .counter-row.counter-row-2 ._card::before {
    width: 3px;
    height: 30px;
    left: 100%;
    bottom: 50%;
    -webkit-transform: translateY(50%) translateX(0);
            transform: translateY(50%) translateX(0);
  }
}

.counter-row.counter-row-2 ._card:nth-last-child(1)::before {
  display: none;
}

.counter-row.counter-row-2 ._card:nth-last-child(1) {
  border-right: 0;
}

.counter-row.counter-row-2 ._card ._card-image {
  display: none;
}

.counter-row.counter-row-2 ._card ._card-number {
  width: 100%;
}

.counter-row.counter-row-2 ._card ._card-number .counter {
  font-size: 2.5rem;
  line-height: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.counter-row ._card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 576px) {
  .counter-row ._card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.counter-row ._card ._card-image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 100px;
}

.counter-row ._card ._card-number h5 {
  font-size: 1.2rem;
  line-height: 1rem;
  margin-bottom: 5px;
}

.circel-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #D44F27;
  position: relative;
  background: #ffffff;
}

.circel-arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 1px;
  background: #D44F27;
  margin-left: -2px;
}

.circel-arrow::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 8px;
  height: 8px;
  border-right: 1px solid #D44F27;
  border-bottom: 1px solid #D44F27;
  margin-bottom: -2px;
}

.star-set {
  margin-bottom: 15px;
  display: inline-block;
}

.star-set .star-set-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-set .star-set-inner.star-box {
  border: 1px solid #D44F27;
  padding: 8px;
  border-radius: 40px;
}

.star-set .star-set-inner span {
  margin: 0 3px;
  line-height: 0;
}

.list-arrow li {
  padding: 00px 10px 10px 20px;
  position: relative;
}

.list-arrow li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 0;
  top: 7px;
}

.down-arrow {
  width: 40px;
  height: 20px;
  border-radius: 40px 40px 0 0;
  position: relative;
  background: #D44F27;
}

.down-arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: #D44F27;
}

@font-face {
  font-family: 'technology';
  src: url("fonts/Technology-Regular.woff2") format("woff2"), url("fonts/Technology-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

::after, ::before {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #ffffff;
  color: #282828;
}

.row + .row {
  margin-top: 30px;
}

.img-full {
  width: 100%;
  max-width: 100%;
}

p.big {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

.img-box {
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(51, 56, 70, 0.1);
          box-shadow: 0 6px 12px 0 rgba(51, 56, 70, 0.1);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 280px;
}

.img-box h3 {
  font-size: 20px;
}

.img-box p {
  margin-bottom: 0px;
  margin-top: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 800;
}

h1 {
  font-size: 2.5rem !important;
  line-height: 2.5rem !important;
  margin-bottom: 24px;
  color: #D44F27;
}

h1 span {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 700;
  display: block;
  color: #000000;
  margin-top: 10px;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 24px;
  position: relative;
  font-weight: 700;
}

h2.text-white span:before {
  background: #ffffff;
}

h2.text-white span:after {
  background: #ffffff;
}

h2 span {
  padding-bottom: 28px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

h2 span::before {
  content: "";
  width: 200px;
  height: 4px;
  background: #D44F27;
  position: absolute;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h2 span::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #D44F27;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 24px;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 16px;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 16px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

._btn,
a._btn {
  padding: 10px 20px;
  border: 1px solid #D44F27;
  font-weight: 700;
  text-align: center;
  min-width: 170px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

._btn:hover,
a._btn:hover {
  background: #D44F27;
  color: #ffffff;
}

._btn:hover i img:nth-child(1),
a._btn:hover i img:nth-child(1) {
  display: none;
}

._btn:hover i img:nth-child(2),
a._btn:hover i img:nth-child(2) {
  display: inline;
}

._btn._btn-sm,
a._btn._btn-sm {
  padding: 5px 15px;
  font-weight: 500;
}

._btn._btn-blank,
a._btn._btn-blank {
  border-width: 0;
}

._btn._btn-blank:hover,
a._btn._btn-blank:hover {
  background: none;
  color: inherit;
}

._btn._btn-1,
a._btn._btn-1 {
  border-color: #D44F27;
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-1:hover,
a._btn._btn-1:hover {
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-2,
a._btn._btn-2 {
  border-color: #D44F27;
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-2:hover,
a._btn._btn-2:hover {
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-3,
a._btn._btn-3 {
  border-color: #942a1a;
  background: #ffffff;
  color: #942a1a;
}

._btn._btn-3:hover,
a._btn._btn-3:hover {
  background: #942a1a;
  color: #ffffff;
}

._btn._btn-1-fill,
a._btn._btn-1-fill {
  border-color: #D44F27;
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-1-fill:hover,
a._btn._btn-1-fill:hover {
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-2-fill,
a._btn._btn-2-fill {
  border-color: #D44F27;
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-2-fill:hover,
a._btn._btn-2-fill:hover {
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-3-fill,
a._btn._btn-3-fill {
  border-color: #942a1a;
  background: #942a1a;
  color: #ffffff;
}

._btn._btn-3-fill:hover,
a._btn._btn-3-fill:hover {
  background: #ffffff;
  color: #942a1a;
}

._btn i,
a._btn i {
  margin-right: 5px;
  margin-left: -8px;
}

._btn i img:nth-child(1),
a._btn i img:nth-child(1) {
  display: inline;
}

._btn i img:nth-child(2),
a._btn i img:nth-child(2) {
  display: none;
}

._btn._btn-icon,
a._btn._btn-icon {
  padding-left: 8px;
  text-align: left;
}

._btn._btn-icon i,
a._btn._btn-icon i {
  margin-right: 5px;
}

._btn._btn-icon._btn-1:hover,
a._btn._btn-icon._btn-1:hover {
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-icon._btn-2:hover,
a._btn._btn-icon._btn-2:hover {
  background: #ffffff;
  color: #D44F27;
}

._btn._btn-icon._btn-3:hover,
a._btn._btn-icon._btn-3:hover {
  background: #ffffff;
  color: #942a1a;
}

._btn._btn-icon._btn-1-fill:hover,
a._btn._btn-icon._btn-1-fill:hover {
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-icon._btn-2-fill:hover,
a._btn._btn-icon._btn-2-fill:hover {
  background: #D44F27;
  color: #ffffff;
}

._btn._btn-icon._btn-3-fill:hover,
a._btn._btn-icon._btn-3-fill:hover {
  background: #942a1a;
  color: #ffffff;
}

._btn i svg,
a._btn i svg {
  fill: #D44F27;
}

section {
  padding: 2.50px 0px;
  overflow: hidden;
  border-bottom: 0px solid rgba(0, 0, 0, 0.08);
}

section.section-sm {
  padding: 2.5rem 0;
}

@media (min-width: 767px) {
  section {
    padding: 5rem 0;
  }
}

section .section-heading {
  text-align: center;
}

section .section-heading p {
  font-weight: 500;
  margin-top: -5px;
}

._card {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #d6d7da;
  border-radius: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(36, 39, 44, 0.1), 0 2px 2px 0 rgba(36, 39, 44, 0.1);
          box-shadow: 0 4px 8px 0 rgba(36, 39, 44, 0.1), 0 2px 2px 0 rgba(36, 39, 44, 0.1);
}

._card.blank {
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._card.border-0 {
  border-width: 0;
}

._card.border-radius-0 {
  border-radius: 0;
}

._card ._card-content p {
  font-size: 14px;
  text-align: justify;
}

._card ._card-head {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

._card ._card-sub-head {
  font-size: 1.28rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 15px;
}
/*# sourceMappingURL=base.css.map */