.top-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba(212, 79, 39, 0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  color: #fff;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.top-navbar.sticky {
  border-bottom: 1px solid rgba(212, 79, 39, 0.2);
  background: #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (min-width: 1200px) {
  .top-navbar.sticky {
    color: #282828;
  }
}

.top-navbar.sticky .logo .red {
  display: block;
  background-color: transparent !important;
}

.top-navbar.sticky .logo .red-white {
  display: none;
}

.top-navbar.sticky .top-menu-set .top-menu ul li.dropdown {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar.sticky .top-menu-set .top-menu ul li.dropdown {
    color: #282828;
  }
}

.top-navbar.sticky .top-menu-set .top-menu ul li.dropdown::before {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar.sticky .top-menu-set .top-menu ul li.dropdown::before {
    color: #282828;
  }
}

.top-navbar.sticky .top-menu-set .top-menu ul li a {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar.sticky .top-menu-set .top-menu ul li a {
    color: #282828;
  }
}

.top-navbar.sticky .top-menu-set .top-menu ul li:hover.dropdown::before {
  color: #282828;
}

@media (min-width: 992px) {
  .top-navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .top-navbar {
    padding: 00px 15px;
    background: transparent;
  }
}

.top-navbar .logo {
  margin-right: 30px;
  width: 70%;
}

@media (min-width: 768px) {
  .top-navbar .logo {
    width: auto;
  }
}

.top-navbar .logo .red {
  display: none;
}

.top-navbar .logo .red-white {
  display: block;
}

.top-navbar .top-menu-set {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 00px 0;
  position: static;
}

@media (min-width: 992px) {
  .top-navbar .top-menu-set {
    width: 100%;
    padding: 00px 0;
    position: relative;
  }
}

.top-navbar .top-menu-set .top-menu {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0;
  position: absolute;
  right: 0;
  top: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 110;
  background: transparent;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-navbar .top-menu-set .top-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D44F27;
}

@media (min-width: 768px) {
  .top-navbar .top-menu-set .top-menu {
    width: 50%;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu {
    position: relative;
    right: auto;
    top: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px 0;
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: auto;
    overflow-y: visible;
    overflow-x: visible;
  }
}

.top-navbar .top-menu-set .top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  font-size: inherit;
  position: relative;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-navbar .top-menu-set .top-menu ul li {
  display: block;
  position: relative;
  border-bottom: 1px solid #ffffff;
}

.top-navbar .top-menu-set .top-menu ul li:nth-last-child(1) {
  border-width: 0;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li {
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
  }
}

.top-navbar .top-menu-set .top-menu ul li.dropdown {
  padding: 10px 10px;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li.dropdown {
    padding: 10px 18px;
  }
}

.top-navbar .top-menu-set .top-menu ul li.dropdown.no-sign {
  padding-right: 0;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown.no-sign a::after {
  display: none;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown.dropdown-right .dropdown-menu {
  right: 0;
  left: auto;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown > a::after {
  content: "+";
  position: absolute;
  top: 10px;
  right: 0px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 16px;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li.dropdown > a::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.top-navbar .top-menu-set .top-menu ul li.dropdown li a {
  color: #ffffff;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown li a::after {
  display: none;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li.dropdown li a {
    color: #282828;
  }
}

.top-navbar .top-menu-set .top-menu ul li.dropdown li a:hover {
  color: #ffffff;
}

.top-navbar .top-menu-set .top-menu ul li:hover {
  cursor: pointer;
}

.top-navbar .top-menu-set .top-menu ul li:hover .dropdown-menu {
  display: -ms-grid;
  display: grid;
}

.top-navbar .top-menu-set .top-menu ul li:hover.dropdown a::after {
  content: "-";
  color: #ffffff;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li:hover.dropdown a::after {
    color: #ffffff;
  }
}

.top-navbar .top-menu-set .top-menu ul li a {
  padding: 10px 14px;
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 0;
  margin-right: 0;
  position: relative;
}

.top-navbar .top-menu-set .top-menu ul li a._btn-1-fill, .top-navbar .top-menu-set .top-menu ul li a._btn-2-fill, .top-navbar .top-menu-set .top-menu ul li a._btn-3-fill {
  min-width: auto;
  color: #ffffff;
  padding: 10px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li a {
    color: #ffffff;
    padding: 10px 18px;
  }
  .top-navbar .top-menu-set .top-menu ul li a._btn-1-fill, .top-navbar .top-menu-set .top-menu ul li a._btn-2-fill, .top-navbar .top-menu-set .top-menu ul li a._btn-3-fill {
    padding: 3px 15px 4px 15px;
  }
}

.top-navbar .top-menu-set .top-menu ul li a:hover {
  color: #ffffff;
}

.top-navbar .top-menu-set .top-menu ul li a:hover._btn-1-fill {
  color: #ffffff;
  background: #D44F27;
}

.top-navbar .top-menu-set .top-menu ul li a:hover._btn-2-fill {
  color: #ffffff;
  background: #D44F27;
}

.top-navbar .top-menu-set .top-menu ul li a:hover._btn-3-fill {
  color: #ffffff;
  background: #942a1a;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li a:hover {
    color: #D44F27;
  }
  .top-navbar .top-menu-set .top-menu ul li a:hover._btn-1-fill {
    color: #D44F27;
    background: #ffffff;
  }
  .top-navbar .top-menu-set .top-menu ul li a:hover._btn-2-fill {
    color: #D44F27;
    background: #ffffff;
  }
  .top-navbar .top-menu-set .top-menu ul li a:hover._btn-3-fill {
    color: #942a1a;
    background: #ffffff;
  }
}

.top-navbar .top-menu-set .top-menu ul li .dropdown-menu {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  padding-left: 20px;
  height: 150px;
  background: #D44F27;
  padding: 0;
  border-radius: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-width: 0;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li .dropdown-menu {
    position: absolute;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 100%;
    width: 200px;
    left: 0;
    padding-left: 0;
  }
}

.top-navbar .top-menu-set .top-menu ul li .dropdown-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-navbar .top-menu-set .top-menu ul li .dropdown-menu li {
  display: block;
  border-bottom: 1px solid #f1f1f1;
  margin: 0;
  width: 100%;
}

.top-navbar .top-menu-set .top-menu ul li .dropdown-menu li:nth-last-child(1) {
  border-width: 0;
}

.top-navbar .top-menu-set .top-menu ul li .dropdown-menu li a {
  padding: 10px;
  color: #ffffff;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown-full {
  position: static;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown-full .dropdown-menu {
  width: 100%;
  padding: 8px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu ul li.dropdown-full .dropdown-menu {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.top-navbar .top-menu-set .top-menu ul li.dropdown-full .dropdown-menu .dropdown-menu-head {
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  border-width: 1px;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown-full .dropdown-menu li {
  border-width: 0;
  padding: 5px 0px;
}

.top-navbar .top-menu-set .top-menu ul li.dropdown-full .dropdown-menu li a {
  margin-left: 15px;
  padding: 0px 0px;
  font-size: 13px;
}

.top-navbar .top-menu-set .top-menu .main-menu {
  width: 100%;
}

.top-navbar .top-menu-set .top-menu .main-menu ul li:nth-last-child(1) {
  border-width: 1px;
}

.top-navbar .top-menu-set .top-menu .main-menu ul li.dropdown ul li:nth-last-child(1) {
  border-width: 0;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .main-menu {
    width: auto;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail {
  width: 100%;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail {
    width: auto;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li {
  margin-left: 00px;
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a {
  text-align: left;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a {
    width: auto;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a i > img {
  display: none;
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a i > img:nth-child(1) {
  display: none;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a i > img:nth-child(1) {
    display: inline;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a i > img:nth-child(2) {
  display: none;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a i > img:nth-child(2) {
    display: none;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a i .mobile {
  display: inline;
  padding-left: 10px;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a i .mobile {
    display: none;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a i .mobile img {
  display: inline;
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i > img {
  display: none;
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i > img:nth-child(1) {
  display: none;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i > img:nth-child(1) {
    display: none;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i > img:nth-child(2) {
  display: none;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i > img:nth-child(2) {
    display: inline;
  }
}

.top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i .mobile {
  display: inline;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .top-menu .contact-detail ul li a:hover i .mobile {
    display: none;
  }
}

.top-navbar .top-menu-set .mobile-menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  border: 0px solid #D44F27;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .top-navbar .top-menu-set .mobile-menu-btn {
    display: none;
  }
}

.top-navbar .top-menu-set .mobile-menu-btn span {
  height: 4px;
  background: #D44F27;
  width: 100%;
  position: relative;
}

.top-navbar .top-menu-set .mobile-menu-btn span:nth-child(2) {
  top: 50%;
  margin-top: -6px;
  width: 75%;
}

.top-navbar .top-menu-set .mobile-menu-btn span:nth-child(3) {
  margin-top: auto;
  width: 50%;
}
/*# sourceMappingURL=header.css.map */