.top-navbar {
  display: flex;
  background: transparent;
  align-items: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba($color1, 0);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  color: #fff;
  color: $white;
  transition: all 0.2s ease-in-out;
  &.sticky {
    border-bottom: 1px solid rgba($color1, 0.2);
    background: $white;
    color: $white;
    transition: all 0.2s linear;
    @media (min-width: 1200px) {
      color: #282828;
    }
    .logo {
      .red {
        display: block;
        background-color: transparent !important;
      }
      .red-white {
        display: none;
      }
    }
    .top-menu-set {
      .top-menu {
        ul {
          li {
            &.dropdown {
              color: $white;
              @media (min-width: 1200px) {
                color: #282828;
              }
              &::before {
                color: $white;
                @media (min-width: 1200px) {
                  color: #282828;
                }
              }
            }
            a {
              color: $white;
              @media (min-width: 1200px) {
                color: #282828;
              }
            }
            &:hover {
              &.dropdown {
                &::before {
                  color: #282828;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    align-items: center;
  }
  @media (min-width: 1200px) {
    padding: 00px 15px;
    background: transparent;
  }
  .logo {
    margin-right: 30px;
    width: 70%;
    @media (min-width: 768px) {
      width: auto;
    }
    .red {
      display: none;
    }
    .red-white {
      display: block;
    }
  }
  .top-menu-set {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 00px 0;
    position: static;
    @media (min-width: 992px) {
      width: 100%;
      padding: 00px 0;
      position: relative;
    }
    .top-menu {
      display: none;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 0px 0;
      position: absolute;
      right: 0;
      top: 100%;
      flex-direction: column;
      z-index: 110;
      background: transparent;
      max-height: 90vh;
      overflow-y: scroll;
      overflow-x: hidden;
      &.active {
        display: flex;
        background: $color1;
      }
      @media (min-width: 768px) {
        width: 50%;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      @media (min-width: 1200px) {
        position: relative;
        right: auto;
        top: auto;
        flex-direction: row;
        padding: 15px 0;
        background: none;
        align-items: center;
        display: flex;
        width: 100%;
        box-shadow: none;
        width: 100%;
        height: auto;
        overflow-y: visible;
        overflow-x: visible;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding-left: 0;
        font-size: inherit;
        position: relative;
        @media (min-width: 1200px) {
          flex-direction: row;
          align-items: center;
        }
        li {
          display: block;
          position: relative;
          border-bottom: 1px solid $white;
          &:nth-last-child(1) {
            border-width: 0;
          }
          @media (min-width: 1200px) {
            border-bottom: 0;
            padding-top: 0px;
            padding-bottom: 0px;
            display: inline-block;
          }
          &.dropdown {
            padding: 10px 10px;
            color: $white;
            @media (min-width: "1200px") {
              padding: 10px 18px;
            }
            &.no-sign {
              padding-right: 0;
              a {
                &::after {
                  display: none;
                }
              }
            }
            &.dropdown-right {
              .dropdown-menu {
                right: 0;
                left: auto;
              }
            } 
            > a {
              &::after {
                content: "+";
                position: absolute;
                top: 10px;
                right: 0px;
                transform: translateY(0);
                font-size: 16px;
                color: $white;
                @media (min-width: 1200px) {
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
            li {
              a {
                color: $white;
                &::after {display:none}
                @media (min-width: 1200px) {
                  color: #282828;
                }
                &:hover {
                  color: $white;
                }
              }
            }
          }
          &:hover {
            cursor: pointer;
            .dropdown-menu {
              display: grid;
            }
            &.dropdown {
              a {
                &::after {
                  content: "-";
                  color: $white;
                  @media (min-width: "1200px") {
                    color: $white;
                  }
                }
              }
            }
          }
          a {
            padding: 10px 14px;
            font-size: 14px;
            display: block;
            text-decoration: none;
            color: $white;
            margin-bottom: 0;
            margin-right: 0;
            position: relative;
            &._btn-1-fill,
            &._btn-2-fill,
            &._btn-3-fill {
              min-width: auto;
              color: $white;
              padding: 10px;
              display: inline-block;
            }
            @media (min-width: "1200px") {
              color: $white;
              padding: 10px 18px;
              &._btn-1-fill,
              &._btn-2-fill,
              &._btn-3-fill {
                padding: 3px 15px 4px 15px;
              }
            }
            &:hover {
              color: $white;
              &._btn-1-fill {
                color: $white;
                background: $color1;
              }
              &._btn-2-fill {
                color: $white;
                background: $color1;
              }
              &._btn-3-fill {
                color: $white;
                background: $color3;
              }
              @media (min-width: "1200px") {
                color: $color1;
                &._btn-1-fill {
                  color: $color1;
                  background: $white;
                }
                &._btn-2-fill {
                  color: $color1;
                  background: $white;
                }
                &._btn-3-fill {
                  color: $color3;
                  background: $white;
                }
              }
            }
          }
          .dropdown-menu {
            position: relative;
            top: auto;
            left: auto;
            width: 100%;
            background: $white;
            flex-direction: column;
            display: none;
            padding-left: 20px;
            height: 150px;
            background: $color1;
            padding: 0;
            border-radius: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            border-width: 0;
            @media (min-width: 1200px) {
              position: absolute;
              height: auto;
              overflow-y: hidden;
              overflow-x: hidden;
              top: 100%;
              width: 200px;
              left: 0;
              padding-left: 0;
            }
            ul {
              flex-direction: column;
            }
            li {
              display: block;
              border-bottom: 1px solid #f1f1f1;
              margin: 0;
              width: 100%;
              &:nth-last-child(1) {
                border-width: 0;
              }
              a {
                padding: 10px;
                color: $white;
              }
            }
          }
          &.dropdown-full {
            position: static;
            .dropdown-menu {
              width: 100%;
              padding: 8px;
              grid-template-columns: repeat(1, 1fr);
              gap: 15px;
              @include responsive_min($lg) {
                grid-template-columns: repeat(3, 1fr);
              }
              .dropdown-menu-head {
                font-weight: bold;
                color: $white;
                font-size: 13px;
                border-width: 1px;
              }
              li {
                border-width: 0;
                padding: 5px 0px;
                a {
                  margin-left: 15px;
                  padding: 0px 0px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      .main-menu {
        width: 100%;
        ul {
          li {
            &:nth-last-child(1) {
              border-width: 1px;
            }
            &.dropdown {
              ul {
                li {
                  &:nth-last-child(1) {
                    border-width: 0;
                  }
                }
              }
            }
          }
        }
        @media (min-width: 1200px) {
          width: auto;
        }
      }
      .contact-detail {
        width: 100%;
        @media (min-width: 1200px) {
          width: auto;
        }
        ul {
          li {
            margin-left: 00px;
            a {
              text-align: left;
              @media (min-width: 1200px) {
                width: auto;
              }
              i {
                > img {
                  display: none;
                  &:nth-child(1) {
                    display: none;
                    @media (min-width: 1200px) {
                      display: inline;
                    }
                  }
                  &:nth-child(2) {
                    display: none;
                    @media (min-width: 1200px) {
                      display: none;
                    }
                  }
                }
                .mobile {
                  display: inline;
                  padding-left: 10px;
                  @media (min-width: 1200px) {
                    display: none;
                  }
                  img {
                    display: inline;
                  }
                }
              }
              &:hover {
                i {
                  > img {
                    display: none;
                    &:nth-child(1) {
                      display: none;
                      @media (min-width: 1200px) {
                        display: none;
                      }
                    }
                    &:nth-child(2) {
                      display: none;
                      @media (min-width: 1200px) {
                        display: inline;
                      }
                    }
                  }
                  .mobile {
                    display: inline;
                    @media (min-width: 1200px) {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .mobile-menu-btn {
      width: 30px;
      height: 30px;
      position: relative;
      border: 0px solid $color1;
      padding: 0px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      @media (min-width: 1200px) {
        display: none;
      }
      span {
        height: 4px;
        background: $color1;
        width: 100%;
        position: relative;
        &:nth-child(2) {
          top: 50%;
          margin-top: -6px;
          width: 75%;
        }
        &:nth-child(3) {
          margin-top: auto;
          width: 50%;
        }
      }
    }
  }
}
