.section-footer {
  .footer {
    background: $gray-light;
    border-top: 2px solid $white;
    padding: 50px 0;
    color: $gray-dark;
    font-size: 0.8rem;
    -webkit-box-shadow: inset -4px -11px 5px -6px rgba(232, 232, 232, 1);
    -moz-box-shadow: inset -4px -11px 5px -6px rgba(232, 232, 232, 1);
    box-shadow: inset -4px -11px 5px -6px rgba(232, 232, 232, 1);
  }
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;
    }
    @media (min-width:1200px) {
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 70px;
    }
    .grid-footer-disc {
      grid-column: 1/5;
      @media (min-width: 768px) {
        grid-column: 1/5;
      }
      @media (min-width: 1200px) {
        grid-column: 1/2;
      }
    }   
    .grid-footer-product {
      grid-column: 1/3;
      @media (min-width: 576px) {
        grid-column:1/3;
      }
      @media (min-width: 768px) {
        grid-column:1/2;
      }
      @media (min-width: 1200px) {
        grid-column: 2/3;
      }
    }
    .grid-footer-info {
        grid-column: 3/5;
      @media (min-width:576px) {
        grid-column: 3/5;
      }
      @media (min-width: 768px) {
        grid-column: 2/3;
      }
      @media (min-width: 1200px) {
        grid-column: 3/4;
      }
    }
    .grid-footer-contact {
        grid-column: 1/5;
      @media (min-width: 768px) {
        grid-column: 3/5;
      }
      @media (min-width: 1200px) {
        grid-column: 4/5;
      }
    }
  }
  .grid-footer-disc {
    .logo {
      margin: 0 0 20px 0;
    }
    .content {
      margin: 0 0 30px 0;
    }
    ._btn {
      border-color: $gray-dark;
      padding: 10px 20px 10px 20px;
      min-width: auto;
      &::after {
        content: " >>";
      }
      &:hover {
        background: $white;
        color: $gray-dark;
      }
    }
  }
  h5 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    color: $gray-dark;
    text-decoration: none;
  }
  .list-arrow {
    li {
      &::before {
        width: 6px;
        height: 6px;
      }
    }
  }
  //   copyright
  .copyright {
    padding: 25px 0;
    .copyright-outter {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      gap: 20px; text-align: center;
      @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;text-align: left;
      }
      .copyright-button {
        text-align: center;
        @media (min-width: 576px) {
            text-align: right;
          }
        ._btn {
          margin-bottom: 0;
        }
      }
    }
  }
}
