.grid-partners {
  display: grid;
  gap: 0;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
  // grid-template-columns: repeat(2, 1fr);
  // @media(min-width:576px){grid-template-columns: repeat(3, 1fr);}
  // @media(min-width:768px){grid-template-columns: repeat(4, 1fr);}
  // @media(min-width:1023px){grid-template-columns: repeat(5, 1fr);}
  // @media(min-width:1200px){grid-template-columns: repeat(6, 1fr);}
  .partner-logo {
    border: 1px solid $gray-light; text-align: center;
  }
}
