.slider-outter {
  padding: 00px;
  position: relative;
  @media (min-width: 992px) {
    padding: 0 00px 0 0;
  } 
  .slider-controller {
    position: relative;
    right: auto;
    top: auto;
    transform: translateY(0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
    @media (min-width: 992px) {
      position: absolute;
      right: -55px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 101;
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }
  }
  .slider-next,
  .slider-prev { 
    margin: 0 5px;
    position: relative;
    @media (min-width: 992px) {
      margin: 4px 5px;
    }
    &.swiper-button-disabled {
      border-color: $gray;
      opacity: 1;
      &::before {
        background: $gray;
      }
      &::after {
        border-color: $gray;
      }
    } 
  } 
  .slider-prev {
    transform: rotate(180deg);
    @media (min-width: 992px) {
    }
  }
}
