
// slider about us
.slider-about-us { 
  background: url(../images/bg-gray.jpg) center bottom no-repeat;
  background-size: cover;
  .swiper-slide {
    display: flex;
  }
  ._card {
    border: 0;
    box-shadow: none;
    padding: 20px;
    height: auto;
    ._card-image {
      position: relative;
      margin-bottom: 20px;
      overflow: hidden;
      display: inline-block;
      > img {
        padding: 10px 0 0 0px;
        background: $gray-light;
        border-radius: 200px;
        width: 75px;
      }
    }
    ._card-content {
      min-height: auto;
      max-height: auto;
      @media (min-width: 768px) {
        min-height: 180px;
        max-height: 180px;
      }
      p {
        text-align: left;
      }
    }
    .star-set {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    ._card-footer {
      margin-top: auto;
      padding-top: 25px;
      span {
        display: block;
        color: $color2;
        font-weight: 500;
      }
    }
  }
}

.slider-about-us-outter {
  padding: 00px;
  position: relative;
  @media (min-width: 992px) {
    padding: 0 40px;
  }
  .slider-controller {
    position: relative;
    right: auto;
    top: auto;
    transform: translateY(0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
    @media (min-width: 992px) {
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 101;
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }
  }
  .slider-about-us-next,
  .slider-about-us-prev {
    left: auto;
    right: auto;
    top: auto;
    margin: 0 5px;
    bottom: auto;
    @media (min-width: 992px) {
      margin: 4px 5px;
    }
    &.swiper-button-disabled {
      border-color: $gray;
      opacity: 1;
      &::before {
        background: $gray;
      }
      &::after {
        border-color: $gray;
      }
    }
  }
  .slider-about-us-prev {
    transform: rotate(180deg);
    @media (min-width: 992px) {
    }
  }
}
