
.why-insurance-section{background: $gray-light;}
// customize card
.customize-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    ._card {
      border-radius: 20px;
      padding: 0;
      border: 0;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      box-shadow: none; background: transparent;
      ._card-image {
        position: relative;
        width: 100%;
        border-radius: 20px 20px 0 0;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   background: url("../images/bg-gradient.png") center center no-repeat;
        //   width: 100%;
        //   height: 100%;
        // }
      }
      ._card-icon {
        position: relative;
        margin: -85px auto 20px auto;
        width: 130px;
        height: 130px;
        background: $white;
        border-radius: 200px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ._card-content {
        padding: 20px 20px 30px 20px;
        text-align: center;
        position: relative;
        background: rgba($white, 1);
        margin-bottom: 20px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        p {
          text-align: center;
        }
        .down-arrow {
          position: absolute;
          left: 50%;
          bottom: 0px;
          transform: translateX(-50%) rotate(0deg);
        }
      }
    }
  }
  