//background color
.bg-color1{background: $color1;}
.bg-color2{background: $color2;}
.bg-black{background: $black;}
.bg-white{background: $white;}
.bg-gray{background: $gray;}
.bg-gray-light{background: $gray-light;}
// text colors
.text-color1{color: $color1;}
.text-color2{color: $color2;}
.text-black{color: $black;}
.text-white{color: $white;}
.text-gray{color: $gray;}
.text-gray-light{color: $gray-light;}