
//
.list {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      padding-bottom: 10px;
      i {
        margin-right: 15px;
      }
    }
  }
  &.small {
    li {
      font-size: 14px;
    }
  }
}
// counter
.visitor-box {
  width: 250px;
  border-radius: 15px;
  padding: 10px 15px;
  background: $white;
  border: 4px solid $white;
  position: relative;
  z-index: 110;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
  text-align: center;
  .visitor-head {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1rem;
  }
  .visitor-number {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      background: $color3;
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 4px 8px;
      border-radius: 10px;
      box-shadow: inset 0px -4px 32px -17px rgba(0, 0, 0, 0.35);
      color: $white;
      margin: 10px 2px 0px 2px;
    }
  }
}
// counter
.counter-row {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); 
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr); 
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
  &.counter-row-2{
    gap: 50px;
    grid-template-columns: repeat(1, 1fr); 
    @media (min-width: 768px) {
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width:992px){
       padding: 50px 0;
    }
    ._card{ background: transparent; border-radius: 0; text-align: center;  
      &::before{
        content: ''; position: absolute; left: 50%; bottom: -25px; transform: translateX(-50%); width: 30px; height: 3px;background: $color1;  
        @media (min-width:768px){
          width: 3px; height: 30px;left: 100%; bottom: 50%; transform: translateY(50%) translateX(0); 
      }
      }
      &:nth-last-child(1){
        &::before{display: none;}
      }
    
      &:nth-last-child(1){border-right: 0;}
      ._card-image {display: none;}
      ._card-number{ width: 100%;
        .counter{font-size: 2.5rem; line-height: 2rem; margin-bottom: 10px; font-weight: 700;} 
      }
    }
  }
  ._card {
    flex-direction: column;
    align-items: center; justify-content: center; text-align: center;
    @media (min-width: 576px) {
      flex-direction: row;justify-content: flex-start;text-align: left;
      
    }
    ._card-image {
      width: 80px;
      height: 80px;
      margin-right: 15px;
      background: $gray-light;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border-radius: 100px;
    }
    ._card-number {
      h5 {
        font-size: 1.2rem;
        line-height: 1rem;
        margin-bottom: 5px;
      }
    }
  }
}

// circel-arrow
.circel-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid $color1;
  position: relative;
  background: $white;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 1px;
    background: $color1; margin-left: -2px;
  }
  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    border-right: 1px solid $color1;
    border-bottom: 1px solid $color1; margin-bottom: -2px;
  }
}

// star-set
.star-set{margin-bottom: 15px; display: inline-block;
  .star-set-inner{display: flex; justify-content: center; align-items: center;   
    &.star-box{ border:1px solid $color1; padding:8px; border-radius: 40px;}
     span{ margin: 0 3px; line-height: 0;}
  }

 
}

// list-arrow
.list-arrow{
  li{
    padding: 00px 10px 10px 20px; position: relative;
    &::before{content: ''; width: 8px; height: 8px; border-right: 1px solid $gray-dark;border-bottom: 1px solid $gray-dark; transform: rotate(-45deg); position: absolute; left: 0; top: 7px;} 
  }
}
// Down arrow 
.down-arrow {
  width: 40px;
  height: 20px;
  border-radius: 40px 40px 0 0; 
  position: relative;
  background: $color1;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 12px;
    height: 12px;
    background: $color1;
  }
   
}

@font-face {
  font-family: 'technology';
  src: url('fonts/Technology-Regular.woff2') format('woff2'),
      url('fonts/Technology-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
