
.grid-container{position: relative; margin: 0 auto;  padding-left: 15px; padding-right: 15px;max-width: 100%;}




@media (min-width: 576px){
     .grid-container-sm { max-width: 540px;  }
}
@media (min-width: 768px){
    .grid-container-sm, .grid-container-md { max-width: 720px;   }
}
@media (min-width: 992px){
    .grid-container-md, .grid-container-lg {  max-width: 960px;  }
}
@media (min-width: 1200px){
    .grid-container-lg, .grid-container-xl { max-width: 1140px;  }
}