section {
  padding: 40px 0px;
  overflow: hidden;
  &.section-sm {
    padding: 40px 0;
  }
  @media (min-width: 767px) {
    padding: 80px 0px;
  }
  .section-heading {
    text-align: center; 
    p {
      font-weight: 500;
      margin-top: -5px;
    }
  }
}


